<mat-sidenav-container class="container">
  <mat-sidenav class="sidenav" mode="side" opened>
    <mat-toolbar class="sidebar">Somos Ayni</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active">Inicio</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="topbar">
      <span>Somos Ayni</span>
    </mat-toolbar>

    <div class="content">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
